<%= render 'shared/navbar' %>
<div class="row">
  <div class="col">
    <h2><%= t '.general_caption' %></h2>
    <p class="text-justify"><%= t '.general_text' %></p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h2><%= t '.how_it_works_caption' %></h2>
    <p class="text-justify"><%= t '.how_it_works_text1' %></p>
    <p class="text-justify"><%= t '.how_it_works_text2' %></p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h2><%= t '.pricing_caption' %></h2>
    <p class="text-justify"><%= t '.pricing_text' %></p>
  </div>
</div>
