<p>
  <ul class="list-group list-group-flush">
    <% if current_match.present? %>
      <li class="list-group-item">
        <p class="card-text">
          <%= current_match.label %><br/>
          <%= Score.result_for current_match %>
        </p>
        <p class="card-text"><small class="text-muted">
          <%= time_ago_in_words current_match.updated_at %></small>
        </p>
      </li>
    <% end %>
    <% if next_match.present? %>
      <li class="list-group-item">
        next: <%= next_match.label %>
        <% unless next_match.not_before.blank? %>
          <br/><small>not before <%= next_match.not_before.strftime('%k:%M') %></small>
        <% end %>
      </li>
    <% end %>
  </ul>
</p>
