<p>
  <ul class="list-group list-group-flush">
    <% if current_match.present? %>
      <li class="list-group-item">
        <p class="card-text mb-0">
          <strong><%= court_label_for current_match %></strong>
        </p>
        <p class="card-text">
          <span class="score animate-refresh"><%= Score.result_for current_match %></span><br>
          <small class="text-muted">
            <%= latest_score_update current_match %>
          </small>
          <%= link_to refresh_score_tournament_path(@tournament), remote: true, class: 'py-1 px-2 update-score-link' do %>
            <%= fa_icon "retweet" %>
          <% end %>
        </p>
      </li>
    <% end %>
    <% if next_match.present? %>
      <li class="list-group-item">
        <small>
          <%= t '.next' %><br>
          <%= court_label_for next_match %>
          <% unless next_match.not_before.blank? %>
            <br><%= t '.not_before' %> <%= next_match.not_before.strftime('%H:%M') %>
          <% end %>
        </small>
      </li>
    <% end %>
  </ul>
</p>
