<%= render 'shared/header' %>
<%= render 'shared/navbar' %>
<% if @tournament.present? %>
  <div class="mb-2">
    <div class="row" id="courts">
      <%= render 'courts' %>
    </div>
  </div>
  <%= render 'shared/progress' %>
<% else %>
  <p><%= t '.tournament_finished' %></p>
<% end %>

<%= javascript_include_tag 'idle_page_reload' %>
