<%= render 'shared/header' %>
<%= render 'shared/navbar' %>
<% if @tournament.present? %>
  <div class="mb-2">
    <div class="row" id="courts">
      <%= render 'courts' %>
    </div>
  </div>
  <%= render 'shared/progress' %>
  <%= hidden_field_tag :court_public_keys %>

  <%= render 'scripts_refresh_scores' %>
  <%= render 'shared/scripts_idle_page_reload' %>
  <%= render 'shared/scripts_score_updated_page_reload' %>
<% else %>
  <p><%= t '.tournament_not_found' %></p>
<% end %>
