<nav class="navbar navbar-expand-lg navbar-light mb-2 background-clay-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if @tournament.present? %>
        <li class="nav-item">
          <%= link_to t('.tournament'), tournament_path(@tournament), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('.matches'), tournament_matches_path(@tournament), class: 'nav-link' %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <% if controller_name == 'static_pages' && @tournament.blank? %>
          <li class="nav-item">
            <%= link_to t('.home'), root_path, class: 'nav-link' %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to t('.sign_out'), destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to t('.sign_in'), new_user_session_path, class: 'nav-link'  %>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to t('.about'), static_pages_about_path, class: 'nav-link' %>
      </li>
      <!-- <li class="nav-item">
        <%#= switch_locale_link request.url %>
      </li> -->
    </ul>
  </div>
</nav>
