<h2><%= @tournament.label %></h2>
<% if policy(@tournament).manage? %>
  <p>
    <%= t '.close_tournament_text' %>
  </p>
  <p>
    <%= link_to t('.close_tournament'), tournament_path(@tournament), method: :delete, data: { confirm: t('.sure_destroy_tournament') }, class: 'btn btn-lg btn-danger my-1' %>
    <%= link_to t('.change'), edit_tournament_path(@tournament), class: 'btn btn-xs btn-link' %>
  </p>
<% else %>
  <p>
    <em><%= t '.welcome_html' %></em>
  </p>
<% end %>
