<div class="table-responsive mb-1">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"><%= t '.label' %></th>
        <th scope="col"><%= t '.score' %></th>
        <th scope="col"><%= t '.not_before' %></th>
      </tr>
    </thead>
    <tbody>
      <% @court.matches.sorted.each do |match| %>
        <%= content_tag :tr, class: decoration_class_for(match), data: { position: match.position } do %>
          <%=
            cells = handle_cell_for match, draggable: (@matches_updatable && !match.started?)
            cells += label_cell_for match, editable: @matches_updatable
            cells += score_cell_for match, editable: @scores_updatable
            cells += content_tag :td do
              NotBeforeInfo.result_for match
            end

            cells
          %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
