<%= render 'shared/header' %>
<%= render 'shared/navbar' %>
<p>
  <% if policy(Match).create? %>
    <%= link_to t('.add_match'), new_tournament_court_match_path(@tournament, @court), class: 'btn btn-sm btn-success my-1' %>
  <% end %>
  <span class="float-right"><strong><%= t('.court_matches', label: @court.label) %></strong></span>
</p>
<% if @court.matches.any? %>
  <div id="matches-table">
    <%= render 'matches_table' %>
  </div>
  <%= render 'shared/footer' %>
<% else %>
  <p><%= t '.no_matches' %></p>
<% end %>

<%= render 'scripts' if @matches_updatable %>
