<%= render 'shared/header' %>
<%= render 'shared/navbar' %>
<%= render 'courts_switch' if @tournament.courts.count > 1 %>
<hr>
<p>
  <% if policy(Match).create? %>
    <%= link_to t('.add_match'), new_tournament_court_match_path(@tournament, @court), class: 'btn btn-sm btn-success my-1' %>
  <% end %>
  <span class="float-right">
    <strong><%= t('.court_matches', label: @court.label) %></strong>
  </span>
</p>
<% if @court.matches.any? %>
  <div id="matches-table">
    <%= render 'matches_table' %>
  </div>
  <%= render 'shared/progress' %>
<% else %>
  <p><%= t '.no_matches' %></p>
<% end %>

<%= javascript_include_tag 'idle_page_reload' %>

<% if @matches_updatable %>
  <%= render 'show_scripts' %>
  <%= javascript_include_tag 'touch_punch' %>
<% end %>
