<div class="row">
  <div class="col-md-3 hidden-sm-down"></div>
  <div class="col">

    <h2>Log in</h2>
    <hr>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <div class="col">
          <div class="field form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="field form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="row">
          <div class="col">
            <div class="field form-group form-check">
              <%= f.check_box :remember_me, class: 'form-check-input' %>
              <label class="form-check-label" for="user_remember_me">Remember me</label>
            </div>
          </div>
        </div>
      <% end -%>

      <div class="row">
        <div class="col">
          <div class="actions">
            <%= f.submit "Log in", class: 'btn btn-lg btn-success my-1' %>
            <%= link_to "Need account?", new_user_registration_path, class: 'btn btn-lg btn-outline-success my-1' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>
            <a data-toggle="collapse" href="#forgot-password-instruction" role="button" aria-expanded="false" aria-controls="forgot-password-instruction">
              Forgotten password?
            </a>
          </p>
          <div class="collapse" id="forgot-password-instruction">
            <div class="card card-body">
              Sorry, there is no automated email-based process to renew your password yourself. Please, contact me on tomas.radic@gmail.com, or +421 905 289 248 for support.
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-3 hidden-sm-down"></div>
</div>
