<%= render 'shared/header' %>
<%= render 'shared/navbar' %>
<p>
  <% if policy(Match).create? %>
    <%= link_to t('.add_match'), new_tournament_match_path(@tournament), class: 'btn btn-sm btn-success my-1' %>
  <% end %>
  <span class="float-right"><strong><%= t '.all_planned_matches' %></strong></span>
</p>
<% if @matches.any? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"><%= t '.label' %></th>
          <th scope="col"><%= t '.court' %></th>
          <th scope="col"><%= t '.score' %></th>
          <th scope="col"><%= t '.not_before' %></th>
        </tr>
      </thead>
      <tbody>
        <% @matches.each do |match| %>
          <%= content_tag :tr, class: decoration_class_for(match) do %>
            <%=
              cells = content_tag :td do
                fa_icon 'check' if match.finished?
              end

              cells += label_cell_for match, editable: @matches_updatable
              cells += content_tag :td do
                link_to match.court.label, tournament_court_path(match.tournament, match.court), class: 'btn btn-sm btn-success'
              end
              cells += score_cell_for match, editable: @scores_updatable
              cells += content_tag :td do
                NotBeforeInfo.result_for match
              end

              cells
            %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= render 'shared/progress' %>
  <%= hidden_field_tag :court_public_keys %>
<% else %>
  <p><%= t '.no_matches' %></p>
<% end %>

<%= render 'shared/scripts_idle_page_reload' %>
<%= render 'shared/scripts_score_updated_page_reload' %>
